body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 75px;
  margin: 0;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
}

header div.icon {
    margin: 0;
    padding-left: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    flex-grow: 1;
}

header div img {
  padding: 0;
  margin: 0;
  color: MediumAquamarine;
  width: 70px;
}

header nav {
  width: 310px;
  padding: 0 0;
}

header div span {
  padding: 0 0 0 10px;
  margin: 0;
  display: inline-block;
  color: MediumAquamarine;
  background-color: white;
  width: 100px;
}

header ul {
  margin: 0;
  padding: 0 40px 0 0;
  text-align: center;
  justify-content: flex-end;
}

header li {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 60px;
}

header a:link,
header a:visited,
header a:hover {
  color: black;
}

div.homeContent {
  position: relative;
  width: 1266px;
  flex-grow: 1;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

div.column {
  margin-right:32px;
}

div.column.large {
  width: 630px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

div.column.medium {
  width: 300px;
  display: inline-flex;
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

div.column.small {
  width: 240px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

div.leadStory {
    width: 630px;
    flex-wrap: wrap;
}

div.leadStory span {
  font-size: 40px;
}

div.stories {
    width: 630px;
    display: flex;
    justify-content: space-between;
}

div.story {
    width: 300px;
}

div.column p {
  font-family: georgia;
  font-size: 17px;
  color: balck;
}

div.imageContent {
  height: 302px;
    color: white;
    font-family: georgia;
    font-weight: bold;
    font-size: 30px;
}

div.main.imageContent {
  width: 630px;
  background-image: url("../images/main.png");
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
}

div.main.imageContent span {
    margin-left: 20px;
}

div.tree.imageContent {
  background-image: url("../images/tree.png");
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.photo.imageContent {
  background-image: url("../images/photo.png");
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.cat.imageContent {
  background-image: url("../images/cat.png");
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.newsBites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between:
}

div.newsBites h3 {
  font-size: 16px;
  font-weight: bold;
}

div.newsBites .bite {
  margin: 0;
  width: 200px;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

footer {
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer div.info {
  display: flex;
  justify-content: center;
}

footer span.logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

footer nav {
  padding-left: 25px;
}

footer a:link,
footer a:visited,
footer a:hover {
  color: black;
}
